# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Data & outputs
data/
models/
logs/
results/
pcaps/

# Notebook checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Env files
.env